

html { box-sizing: border-box; height: 100%; }
*, *::before, *::after { box-sizing: inherit; }

body { margin: 0; height: 100%; }

.body {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  font-family: Arial, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.section{
  min-height: 100svh;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: clip;
}

.section-home{
  background-color: #252525;
  color: white;
}